@using System.Reflection
@using Microsoft.AspNetCore.Mvc.Localization
@inject IConfiguration Config
@inject IViewLocalizer Loc

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        @string.Join(" - ", new[] { ViewData["Title"] as string, "WaterAlarm" }.Where(s => !string.IsNullOrEmpty(s)))
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Site.styles.css" asp-append-version="true"/>
    
    @if (Config["GoogleAnalytics"] is {} googleAnalytics)
    {
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-QJTVPL3P9K"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '@googleAnalytics');
        </script>
    }
    <script>
    function replaceQueryParam(param, newval, search)
    {
        var regex = new RegExp("([?;&])" + param + "[^&;]*[;&]?");
        var query = search.replace(regex, "$1").replace(/&$/, '');
        return (query.length > 2 ? query + "&" : "?") + (newval ? param + "=" + newval : '');
    }

    function addOrUpdateUrlParam(name, value)
    {
        window.location = window.location.pathname + replaceQueryParam(name,  value,  window.location.search);
    }
    </script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            @* <a class="navbar-brand" asp-area="" asp-page="/Index">WaterAlarm</a> *@
            <div class="navbar-brand">WaterAlarm</div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-row justify-content-between">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://blog.wateralarm.be">@Loc["News blog"]</a>
                    </li>
                </ul>
            </div>
            
            <div class="navbar-collapse collapse d-sm-inline-flex flex-row-reverse justify-content-between">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @Loc["Language"]
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#" onclick="addOrUpdateUrlParam('culture', 'nl-BE'); return false;">nl</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" onclick="addOrUpdateUrlParam('culture', 'en-BE'); return false;">en</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Fox Innovations / <a href="mailto:wim@obiwan.be">Wim Devos</a>
        @* - <a asp-area="" asp-page="/Privacy">Privacy</a> *@
        <span class="grayout"> - v@(typeof(Program).Assembly.GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion)</span>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/clipboard.js/dist/clipboard.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>