@model Westwind.AspNetCore.Markdown.MarkdownModel
@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}

@{
    //Model.YamlHeader
    var path = new DirectoryInfo(Model.RelativePath ?? "");
    List<DirectoryInfo> breadcrumbs = new();
    do
    {
        breadcrumbs.Add(path);
        path = Directory.GetParent(path.FullName);
    } while (path != null);

    if (breadcrumbs.Count > 0 && breadcrumbs[0].Name == "index.md")
        breadcrumbs.RemoveAt(0);
    breadcrumbs.Reverse();
    if (breadcrumbs.Count > 0)
        breadcrumbs.RemoveAt(0);
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var breadcrumb in breadcrumbs)
        {
            var active = breadcrumb == breadcrumbs.Last() ? "active" : "";
            
            <li class="breadcrumb-item @active">
                <a href="@breadcrumb.FullName">@breadcrumb.Name.Replace('_', ' ')</a>
            </li>
        }
    </ol>
</nav>

<div>
    @Model.RenderedMarkdown
</div>