@page
@using Microsoft.AspNetCore.Mvc.Localization
@model AccountLoginMail
@inject IViewLocalizer Loc

@{
    Layout = "Shared/_Layout";
}

<div style="text-align: center;">

    @if (string.IsNullOrEmpty(Model.EmailAddress))
    {
        <div>
            @Loc["If your account is known and contains an email-address, an email was sent to you."]
        </div>
    }
    else
    {
        <div>
            @Loc["An email was sent to the email-address linked to your account ({0})", Model.EmailAddress]
        </div>
    }

    <div>
        @Loc["Click on the link in the email to log in."]
    </div>

</div>