@page
@using Microsoft.AspNetCore.Mvc.Localization
@model IndexModel
@inject IViewLocalizer Loc
@{
    ViewData["Title"] = null;
}

<h1>WaterAlarm</h1>

@Loc["Intro"]

<hr/>

<h2>@Loc["LiveDemo"]</h2>
<p>
    @Loc["LiveDemoText"]
</p>

<hr/>

<h2>@Loc["Schema"]</h2>

<img src="/img/Wateralarm schema.drawio.svg" width="100%" alt="Schema"/>

<hr/>

<h2>Release notes &amp; roadmap</h2>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Release notes
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Version</th>
                        <th>Major changes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>v0.12</td><td>Localization &amp; Dutch translation</td>
                    </tr>
                    <tr>
                        <td>v0.11</td><td>Add main page</td>
                    </tr>
                    <tr>
                        <td>v0.10</td><td>Update titles</td>
                    </tr>
                    <tr>
                        <td>v0.9</td><td>Add additional graphs</td>
                    </tr>
                    @* <tr><td>v0.7-v0.8</td><td>Major refactorings</td></tr> *@
                    <tr>
                        <td>v0.6</td><td>Simplified graph</td>
                    </tr>
                    <tr>
                        <td>v0.5</td><td>Add initial graph</td>
                    </tr>
                    <tr>
                        <td>v0.4</td><td>Add battery & RSSI percentages</td>
                    </tr>
                    <tr>
                        <td>v0.3</td><td>Add battery on details page, tabs</td>
                    </tr>
                    <tr>
                        <td>v0.2</td><td>Add RSSI on details page</td>
                    </tr>
                    <tr>
                        <td>v0.1</td><td>Add details page</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Roadmap
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li>Account page</li>
                    <li>Privacy page</li>
                    <li>Self-care configuration of tank dimension</li>
                    <li>Thresholds</li>
                    <li>MQTT</li>
                </ul>
            </div>
        </div>
    </div>
</div>