@page
@model IndexModel
@{
    ViewData["Title"] = null;
}

<h1>WaterAlarm</h1>

<p>
    WaterAlarm is a cheap and open automated solution to monitor the level of your water tank or water well, 
    and to get notifications when low/high thresholds are reached.
</p>
<p>
    The project is still in a test phase.
    Come back later or <a href="mailto:wim@obiwan.be">contact me</a> if you want to be an early adopter.
</p>

<hr/>

<h2>Live demo</h2>
<p>
    <a href="/a/demo/s/i5WOmUdoO0">Live demo</a> containing real measured data.
</p>

<hr/>

<h2>Schema</h2>

<img src="/img/Wateralarm schema.drawio.svg" width="100%"/>

<hr/>

<h2>Release notes</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Version</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>v0.11</td>
            <td>Main page</td>
        </tr>
        <tr>
            <td>v0.10</td>
            <td>Update titles</td>
        </tr>
        <tr>
            <td>v0.9</td>
            <td>Multiple graphs</td>
        </tr>
        <tr>
            <td>v0.7-v0.8</td>
            <td>Refactorings</td>
        </tr>
        <tr>
            <td>v0.6</td>
            <td>Simplified graph</td>
        </tr>
        <tr>
            <td>v0.5</td>
            <td>Graph</td>
        </tr>
        <tr>
            <td>v0.4</td>
            <td>Battery percentage</td>
        </tr>
        <tr>
            <td>v0.3</td>
            <td>Battery on details page, tabs</td>
        </tr>
        <tr>
            <td>v0.2</td>
            <td>RSSI on details page</td>
        </tr>
        <tr>
            <td>v0.1</td>
            <td>Details page</td>
        </tr>
    </tbody>
</table>

<hr/>

<h2>Roadmap</h2>

<ul>
    <li>Multiple languages</li>
    <li>Account page</li>
    <li>Privacy page</li>
    <li>Self-care configuration of tank dimension</li>
    <li>Thresholds</li>
    <li>MQTT</li>
</ul>
